[Unit]
Description=Les Sagas MP3 - Daemon

[Service]
Type=forking
User=lessagasmp3
Group=lessagasmp3
ExecStart=/opt/les-sagas-mp3/core/core.sh start
ExecStop=/opt/les-sagas-mp3/core/core.sh stop
ExecReload=/opt/les-sagas-mp3/core/core.sh reload
Environment="FIREBASE_URL=https://les-sagas-mp3.firebaseio.com"
Environment="GOOGLE_APPLICATION_CREDENTIALS=/opt/les-sagas-mp3/core/google_application_credentials.json"

[Install]
WantedBy=multi-user.target
