#!/bin/sh

OUTPUTDIR="{{ output_dir }}"

PGHOSTNAME="{{ pg.hostname }}"
PGPORT="{{ pg.port }}"
PGDATABASE="{{ pg.database }}"
PGUSERNAME="{{ pg.username }}"

PATH=/usr/local/bin:/usr/bin:/bin:/usr/local/postgres/bin:/usr/local/pgsql/bin
DATE=$1
FOLDER=$OUTPUTDIR/$DATE

mkdir -p $FOLDER

FILENAME=$FOLDER/db.tar
NOW=`date +%Y-%m-%d-%H:%M:%S`
pg_restore -h $PGHOSTNAME -p $PGPORT -U $PGUSERNAME -f "$FILENAME" -F t $PGDATABASE 2>> "$OUTPUTDIR/restore.$NOW.error.log"

tar --overwrite -xzf $FOLDER/files.tar.gz -C /
