[Unit]
Description=Les Sagas MP3 - Core
After=syslog.target

[Service]
User=lessagasmp3
ExecStart={{ install_dir }}/core-exec.jar
SuccessExitStatus=143
Environment="SERVER_NAME={{ inventory_hostname }}"
Environment="FIREBASE_URL=https://les-sagas-mp3.firebaseio.com"
Environment="GOOGLE_APPLICATION_CREDENTIALS={{ install_dir }}/firebase_credentials.json"
Environment="FR_LESSAGASMP3_CORE_URL=http://{{ ansible_host }}:8080"
Environment="FR_LESSAGASMP3_CORE_STORAGE=/opt/les-sagas-mp3/data/files"

[Install]
WantedBy=multi-user.target
